name: "Test"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v26
    - uses: cachix/cachix-action@v14
      with:
        name: devenv

    - name: Install devenv.sh
      run: nix profile install nixpkgs#devenv

    # - name: Build the devenv shell and run any pre-commit hooks
    #   run: devenv test

    - name: Build the project
      run: devenv shell build
