name: "Test"

on:
  pull_request:
    branches:
      - main
    paths:
      - "core/**"
      - "testbed/**"
      - "nix/**"
  push:
    branches:
      - main
    paths:
      - "core/**"
      - "testbed/**"
      - "nix/**"
jobs:
  tests-linux:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: neohaskell
          POSTGRES_PASSWORD: neohaskell
          POSTGRES_DB: neohaskell
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U neohaskell" --health-interval 10s
          --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v6

      - uses: DeterminateSystems/determinate-nix-action@v3.15.2
        with:
          extra-conf: |
            extra-substituters = https://cache.iog.io
            extra-trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=

      - uses: DeterminateSystems/magic-nix-cache-action@v13

      # - name: Build the project with Nix
      #   run: nix build

      - name: Build the project with cabal
        run: nix develop --command cabal build all

      - name: Run core tests
        run: nix develop --command cabal test core

      # Doctests are failing - See issue #204
      # - name: Run core doctests
      #   run: nix-shell --run "cabal repl --with-compiler=doctest --repl-options=--verbose core"

      - name: Install hurl
        run: |
          curl -LO https://github.com/Orange-OpenSource/hurl/releases/download/6.0.0/hurl_6.0.0_amd64.deb
          sudo dpkg -i hurl_6.0.0_amd64.deb

      - name: Run integration tests
        run: nix develop --command ./testbed/scripts/run-tests.sh